

# Build
bin/
obj/
*.user
*.suo

# Rider / VSCode / VS
.vscode/
.idea/
*.csproj.user
*.sln.docstates

# Dotnet Secrets
secrets.json

# Logs
*.log

# User-specific files
*.swp
*.bak
*.tmp

# Publish output
publish/
TourBooking.Infrastructure/Migrations/20250714112433_InitialIdentityMigration.cs
TourBooking.Infrastructure/Migrations/20250714112433_InitialIdentityMigration.Designer.cs
TourBooking.Infrastructure/Migrations/20250715142503_VerificationCode.cs
TourBooking.Infrastructure/Migrations/20250715142503_VerificationCode.Designer.cs
TourBooking.Infrastructure/Migrations/20250716125907_AddVehicliType.cs
TourBooking.Infrastructure/Migrations/20250716125907_AddVehicliType.Designer.cs
TourBooking.Infrastructure/Migrations/20250716130015_AddVehicliType2.cs
TourBooking.Infrastructure/Migrations/20250716130015_AddVehicliType2.Designer.cs
TourBooking.Infrastructure/Migrations/AppDbContextModelSnapshot.cs
