

# Build
bin/
obj/
*.user
*.suo

# Rider / VSCode / VS
.vscode/
.idea/
*.csproj.user
*.sln.docstates

# Dotnet Secrets
secrets.json

# Logs
*.log

# User-specific files
*.swp
*.bak
*.tmp

# Publish output
publish/
TourBooking.Infrastructure/Migrations/
TourBooking.API/appsettings.Development.json
.DS_Store
